<template>
  <require from='../common.css#ux'></require>
  <require from="./checkbox.css#ux"></require>

  <main styles.main>
    <h1 styles.header>
      &lt;ux-checkbox&gt;&lt;/ux-checkbox&gt;
    </h1>

    <p styles.description>
      The <code>ux-checkbox</code> element is
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox></ux-checkbox>
        <code>
          checked="false"
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox checked="true"></ux-checkbox>
        <code>
          checked="true"
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox disabled></ux-checkbox>
        <code>
          disabled
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox disabled checked="true"></ux-checkbox>
        <code>
          disabled checked="true"
        </code>
      </figure>
    </section>

    <p styles.description>
      The material ripple can be prevented by setting effect to none.
    </p>
    
    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox effect="none"></ux-checkbox>
        <code>
          checked="false"
        </code>
      </figure>
    </section>

    <p styles.description>
      Labels can be added to a checkbox in one of two ways.
    </p>
    
    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox label="label"></ux-checkbox>
        <code>
          label="label"
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox>label</ux-checkbox>
        <code>
          &lt;ux-checkbox&gt;label&lt;/ux-checkbox&gt;
        </code>
      </figure>
    </section>

    <p styles.description>
      Bound to object array
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-form>

          <template repeat.for="product of productObjects">
            <ux-checkbox value.bind="product" checked.bind="selectedProductObjects">${product.id} - ${product.name}</ux-checkbox>
          </template>


          Selected products:
          <ul>
            <li repeat.for="product of selectedProductObjects">${product.id} - ${product.name}</li>
          </ul>
        </ux-form>
        <code>
          type="flat"
        </code>
      </figure>
    </section>

    <p styles.description>
      Bound to string array
    </p>

    <section styles.feature>
      <figure styles.figure>
        <template repeat.for="product of products">
          <ux-checkbox value.bind="product" checked.bind="selectedStringProducts">${product}</ux-checkbox>
        </template>
        <br /> Selected products: ${selectedStringProducts}
        <code>
          type="flat"
        </code>
      </figure>
    </section>

    <p styles.description>
      Bound with matcher
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox type="checkbox" model.bind="{ id: 0, name: 'Motherboard' }" matcher.bind="productMatcher" checked.bind="selectedProductsWithMatcher">
          Motherboard
        </ux-checkbox>
        <ux-checkbox type="checkbox" model.bind="{ id: 1, name: 'CPU' }" matcher.bind="productMatcher" checked.bind="selectedProductsWithMatcher">
          CPU
        </ux-checkbox>
        <ux-checkbox type="checkbox" model.bind="{ id: 2, name: 'Memory' }" matcher.bind="productMatcher" checked.bind="selectedProductsWithMatcher">
          Memory
        </ux-checkbox>
        <ul>
          <li repeat.for="product of selectedProductsWithMatcher">${product.id} - ${product.name}</li>
        </ul>
        <code>
          type="flat"
        </code>
      </figure>
    </section>
  </main>
</template>
