<template>
  <require from='../common.css#ux'></require>
  <require from="./checkbox.css#ux"></require>

  <main styles.main>
    <h1 styles.header>
      &lt;ux-checkbox&gt;&lt;/ux-checkbox&gt;
    </h1>

    <p styles.description>
      The <code>ux-checkbox</code> element is an element that can be bound to a property.
      <code>checked.bind</code> is used to bind to the output of the checkbox and <code>value.bind</code> represents the
      output of the checkbox. The default value is just a boolean representing the state of the checkbox.
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox></ux-checkbox>
        <code>
          checked="false"
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox checked="true"></ux-checkbox>
        <code>
          checked="true"
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox disabled></ux-checkbox>
        <code>
          disabled
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox disabled checked="true"></ux-checkbox>
        <code>
          disabled checked="true"
        </code>
      </figure>
    </section>

    <p styles.description>
      The Material ripple effect can be turned off using the effect property.
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox effect="none"></ux-checkbox>
        <code>
          effect="none"
        </code>
      </figure>
    </section>

    <p styles.description>
      Labels can be added to a checkbox in one of two ways.
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-checkbox label="label"></ux-checkbox>
        <code>
          label="label"
        </code>
      </figure>

      <figure styles.figure>
        <ux-checkbox>label</ux-checkbox>
        <code>
          &lt;ux-checkbox&gt;label&lt;/ux-checkbox&gt;
        </code>
      </figure>
    </section>


    <h1 styles.header>
      Binding Demos
    </h1>

    <p styles.description>
      The <code>ux-checkbox</code> control can be bound just like any other checkbox in Aurelia. The following is an implementation
      of the binding demos from the <a href="http://aurelia.io/hub.html#/doc/article/aurelia/binding/latest/binding-checkboxes">developer hub</a>.
    </p>

    <section styles.feature>
      <figure styles.figure>
        <ux-form>

          <template repeat.for="product of productObjects">
            <div class="form-row">
              <ux-field>
                <ux-checkbox value.bind="product" checked.bind="selectedProductObjects">${product.id} - ${product.name}</ux-checkbox>
              </ux-field>
            </div>
          </template>

        </ux-form>
        <code>
          Bound to object array
          <br>
          Selected Products:
            <ul>
              <li repeat.for="product of selectedProductObjects">${product.id} - ${product.name}</li>
            </ul>
        </code>
      </figure>

      <figure styles.figure>
        <ux-form>

          <template repeat.for="product of products">
            <div class="form-row">
              <ux-field>
                <ux-checkbox value.bind="product" checked.bind="selectedStringProducts">${product}</ux-checkbox>
              </ux-field>
            </div>
          </template>

        </ux-form>
        <code>
          Bound to string array
          <br>
          Selected Products: ${selectedStringProducts}
        </code>
      </figure>

      <figure styles.figure>
        <ux-form>

          <div class="form-row">
            <ux-field>
              <ux-checkbox type="checkbox" model.bind="{ id: 0, name: 'Motherboard' }" matcher.bind="productMatcher" checked.bind="selectedProductsWithMatcher">
                Motherboard
              </ux-checkbox>
            </ux-field>
          </div>
          <div class="form-row">
            <ux-field>
              <ux-checkbox type="checkbox" model.bind="{ id: 1, name: 'CPU' }" matcher.bind="productMatcher" checked.bind="selectedProductsWithMatcher">
                CPU
              </ux-checkbox>
            </ux-field>
          </div>
          <div class="form-row">
            <ux-field>
              <ux-checkbox type="checkbox" model.bind="{ id: 2, name: 'Memory' }" matcher.bind="productMatcher" checked.bind="selectedProductsWithMatcher">
                Memory
              </ux-checkbox>
            </ux-field>
          </div>

        </ux-form>
        <code>
          Bound with matcher
          <br>
          Selected Products:
          <ul>
            <li repeat.for="product of selectedProductsWithMatcher">${product.id} - ${product.name}</li>
          </ul>
        </code>
      </figure>
    </section>
  </main>
</template>
