styles.feature {
  margin: 40px 0 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

styles.figure {
  background: ${$swatches.grey.p200};
  justify-content: center;
  align-items: center;
  display: flex;
  width: 320px;
  height: 320px;
  position:relative;
  margin-bottom: 20px;
}

styles.figure > ux-button {
  margin: auto;
}

styles.figure > code {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
