<template>
  <require from='../common.css#ux'></require>
  <require from="./forms.css#ux"></require>

  <main styles.main>
    <h1 styles.header>
      &lt;ux-form&gt;&lt;/ux-form&gt;
    </h1>

    <p styles.description>
      The <code>ux-form</code> element is used to quickly create and lay out forms.
    </p>


    <section styles.feature>
      <figure styles.figure>
        <div class="add-padding">
          <ux-form>
            <div class="form-row">
              <ux-input placeholder="Name"></ux-input>
            </div>

            <div class="form-row">
              <ux-input type="email" placeholder="Email Address"></ux-input>
            </div>

            <ux-button type="raised">Button</ux-button>
          </ux-form>
        </div>
        <code>
          Basic Usage
        </code>
      </figure>

      <figure styles.figure>
        <ux-form>

          <ux-input class="full-width" placeholder="Title"></ux-input>

          <ux-textarea auto-resize class="full-width" placeholder="Description"></ux-textarea>

          <ux-button type="raised">Button</ux-button>
        </ux-form>
        <code>
          Basic Usage
        </code>
      </figure>

    </section>


    <p styles.description>
      <code>ux-form</code> includes the <code>.form-row</code> class to help with both laying out a form and including multiple
      controls on one line.
    </p>


    <section styles.feature>
      <figure styles.figure>
        <div class="add-padding">

          <ux-form>
            <div class="form-row">
              <ux-input maxlength="10" placeholder="First Name"></ux-input>
              <ux-input maxlength="10" placeholder="Last Name"></ux-input>
            </div>

          </ux-form>

        </div>
        <code>
          class="form-row"
        </code>
      </figure>

    </section>


    <p styles.description>
      The <code>ux-field</code> component is the part of form development which takes care of styling labels with inputs and
      other controls.
    </p>


    <section styles.feature>
      <figure styles.figure>
        <div class="add-padding">


          <ux-form>

            <ux-field label="First Name">
              <ux-input maxlength="10"></ux-input>
              <ux-input-info ux-input-counter>John</ux-input-info>
            </ux-field>

          </ux-form>

        </div>
        <code>
        <pre>
&lt;ux-field label="First Name"&gt;
&lt;/ux-field&gt;
        </pre>
        </code>
      </figure>

    </section>



    <p styles.description>
      Bringing all of these elements together allows the quick creation of forms.
    </p>


    <section styles.feature>
      <figure styles.figure>
        <div class="add-padding">


          <ux-form>

            <div class="form-row">

              <ux-field label="First Name">
                <ux-input maxlength="10" value.bind="firstName & validate"></ux-input>
                <ux-input-info ux-input-counter>John</ux-input-info>
              </ux-field>

              <ux-field label="Last Name">
                <ux-input maxlength="10" value.bind="lastName & validate"></ux-input>
                <ux-input-info ux-input-counter>Doe</ux-input-info>
              </ux-field>

            </div>

            <ux-field label="Email Address">
              <ux-input type="email" value.bind="email & validate"></ux-input>
              <ux-input-info>email@example.com</ux-input-info>
            </ux-field>

            <ux-field label="Biography">
              <ux-textarea auto-resize></ux-textarea>
            </ux-field>

            <ux-button click.delegate="submit()">Submit</ux-button>

          </ux-form>


  </main>
</template>
