styles.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

styles.figure {
  margin: 16px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

styles.figure ux-icon {
  width: 48px;
  height: 48px;
}

styles.figure ux-icon>svg {
  fill: #757575;
  width: 48px;
  height: 48px;
}

styles.figure>footer {
  padding-top: 16px;
  font-size: 12px;
}
