<template>
  <require from='../common.css#ux'></require>
  <require from="./inputs.css#ux"></require>
  <main styles.main>

    <h1 styles.header>
      &lt;ux-input&gt;&lt;/ux-input&gt;
    </h1>
    <p styles.description>
      The <code>ux-input</code> element allows users to input data.
    </p>

    <section styles.feature>
      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input value.bind="uxInputSingleLine"></ux-input>
        </div>

        <div class="add-padding">
          value: ${uxInputSingleLine}
        </div>

        <code>
          default
        </code>
      </figure>
    </section>

    <p styles.description>
      The <code>ux-input</code> extends many native functions of the standard input control.
    </p>

    <section styles.feature>
      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input disabled value="Disabled Input"></ux-input>
        </div>

        <ux-input class="full-width" disabled value="Disabled Input"></ux-input>

        <code>
          disabled
        </code>
      </figure>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input readonly value="Read Only Input"></ux-input>
        </div>

        <ux-input class="full-width" readonly value="Read Only Input"></ux-input>

        <code>
          readonly
        </code>
      </figure>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input placeholder="Text goes in this field"></ux-input>
        </div>

        <code>
          placeholder="Value Here"
        </code>
      </figure>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input value="Password" type="password"></ux-input>
        </div>

        <ux-input class="full-width" value="Password" type="password"></ux-input>

        <code>
           type="password"
        </code>
      </figure>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input type="number" step="5"></ux-input>
        </div>

        <code>
          type="number" step="5"
        </code>
      </figure>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input type="number" min="5"></ux-input>
        </div>

        <code>
          type="number" min="5"
        </code>
      </figure>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input type="number" max="10"></ux-input>
        </div>

        <code>
          type="number" max="10"
        </code>
      </figure>

    </section>

    <p styles.description>
      The <code>ux-input</code> has a few classes to help with styling.
    </p>

    <section styles.feature>
      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input class="has-error" value="Error!"></ux-input>
        </div>

        <ux-input class="full-width has-error" value="Error!"></ux-input>

        <code>
          class="has-error"
        </code>
      </figure>
      
      <figure styles.figure>
        <ux-input class="full-width" value.bind="uxInputFullWidth"></ux-input>

        <div class="add-padding">
          value: ${uxInputFullWidth}
        </div>

        <code>
          class="full-width"
        </code>
      </figure>
    </section>

    <h2 styles.header>Aurelia Validation</h2>
    <p styles.description>
      The <code>ux-input</code> has native support for the Aurelia Validation plugin.
    </p>

    <section styles.feature>
      <figure styles.figure>

        <div class="add-padding">
          <form submit.delegate="submit()">
            
            <ux-input class="form-control" 
                      validation-errors.bind="firstNameErrors"
                      class.bind="firstNameErrors.length ? 'has-error' : ''"
                      view-model.ref="errorDemo1"
                      placeholder="First Name" 
                      value.bind="firstName & validate"></ux-input>
            <ux-input-info target.bind="errorDemo1">
              <span if.bind="firstNameErrors.length">${firstNameErrors[0].error.message}</span>
            </ux-input-info>

            <ux-input type="email"
                      validation-errors.bind="emailErrors"
                      class.bind="emailErrors.length ? 'has-error' : ''" 
                      view-model.ref="errorDemo2"
                      class="form-control" 
                      placeholder="Email" 
                      value.bind="email & validate"></ux-input>
            <ux-input-info target.bind="errorDemo2">
                <span if.bind="emailErrors.length">${emailErrors[0].error.message}</span>
                <span if.bind="!emailErrors.length">john@example.com</span>
            </ux-input-info>


            <ux-button type="raised" size="small" class="btn btn-primary">Submit</ux-button>
          </form>

        </div>
        <code>
          
        </code>
      </figure>
    </section>


    <h2 styles.header>Input Info Box & Input Counter</h2>
    <p styles.description>
      The <code>ux-input</code> has a sibling element that will display the current character count or current characters remaining. If a max attribute is present on the <code>ux-input</code> element then the counter will display the total characters remaining, otherwise it will default to displaying the total characters. This element can also display hint text or error text as well.
    </p>

    <section styles.feature>

      <figure styles.figure class="add-padding">
        <div class="add-padding">
          <ux-input view-model.ref="ibicDemo1"></ux-input>
          <ux-input-info ux-input-counter target.bind="ibicDemo1"></ux-input-info>
        </div>

        <code>
          &lt;ux-input-info input-counter /&gt;
        </code>
      </figure>

      <figure styles.figure>
        <div class="add-padding">
          <ux-input view-model.ref="ibicDemo2" maxlength="10"></ux-input>
          <ux-input-info ux-input-counter target.bind="ibicDemo2"></ux-input-info>
        </div>

        <code>
          &lt;ux-input-info input-counter maxlength="10" /&gt;
        </code>
      </figure>

      <figure styles.figure>
        <div class="add-padding">
          <ux-input view-model.ref="ibicDemo3"></ux-input>
          <ux-input-info target.bind="ibicDemo3">I am a message</ux-input-info>
        </div>

        <code>
          &lt;ux-input-info&gt;message&lt;/ux-input-info&gt;
        </code>
      </figure>

      <figure styles.figure>
        <div class="add-padding">
          <ux-input view-model.ref="ibicDemo3" maxlength="10"></ux-input>
          <ux-input-info ux-input-counter target.bind="ibicDemo3">I am a message</ux-input-info>
        </div>

        <code>
          Combined
        </code>
      </figure>

    </section>
  </main>
</template>
