styles.toc {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 60px;
}

styles.toc-category {
  border-left: 5px solid;
  padding-left: 20px;
  margin-right: 120px;
  border-left-color: ${$design.primary}
}

styles.toc-header {
  line-height: 40px;
}

styles.item {
  font-size: 20px;
  line-height: 40px;
}

styles.link {
  text-decoration: none;
  color: ${$design.primary}
}
